   .roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 9000;
  font-style: normal;
  color: #663399;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:#663399;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:#663399;
}
.background-color {
background-color: #ccccff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  text-align: center;
  }