   .roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 800;
  font-style: normal;
}
}

img {
        align-items: center;
        width: 50%;
    }

.picture-centered a img {

  margin: auto;
    max-width: 200px;
    
    

}