
   .roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 9000;
  font-style: normal;
  color: #663399;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:#663399;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:#663399;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#663399;
}

.background-color {
background-color: #f2e9fa;
}


.hideThis {
  display:none;
}


.gallery-image{
  max-width: 80%;

}

.center-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
  max-height: 75%;
}

.center-image{
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;

}

.gallery-image img{
  align-content: center;
  width:100%;

}

figcaption{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color:#663399;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
    display: block;
    unicode-bidi: isolate;
}






button {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  min-width: 10rem;
  font-size: 1.2rem;
  font color: white;
  border-radius: 0.5rem;
  align-items: center;
}

.button_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}




input {
  margin-top: 0.5rem;
}

input::placeholder {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  opacity: 0.5;
  color: #663399;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
  align-items: center;
}


.center{
  text-align: center;
  justify-content: center;
  }

.left{
  text-align: left;
  justify-content: center;
  }

nav {

  background-color: #e0e0ff;
  max-width: 800px;
  margin: auto;
  font-size: 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;

  
}

nav ul li {

  background-color: #e7f3ff;
  flex-flow: row wrap;
  align-items: stretch;
  list-style-type: none;
  margin: 0.1rem;
  max-width: 100%;
  border-radius: 0.5rem;
  border: 3px  #993399;
  border: 6px solid #333399;
}


nav ul li a:visited {
    text-decoration: none;
    color: #ffcc00;
}



body ul li {
    list-style-type: none;
}

a {
  text-decoration: none;
}


.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}


main {
  max-width: 800px;
  margin: auto;
  font-size: 1.4rem;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0.1rem 1rem #ccccff;
  border-radius: 3px;
}

.list-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-image img {
  max-width: 50%;
  margin:auto;
}

@media screen and (max-width: 500px){
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
  max-height: 10%
}


  div {
  text-align: center;
  }

  nav ul li {
    list-style-type: none;
}

  nav ul li a:visited {
    text-decoration: none;
    color: #ffcc00;
}



  body ul li {
    list-style-type: none;
}

a {
  text-decoration: none;
}


.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}


main {
  max-width: 800px;
  margin: auto;
  font-size: 1.4rem;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0.1rem 1rem #ccccff;
  border-radius: 3px;
}

.list-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-image img {
  max-width: 25%;
  margin:auto;
}

